@tailwind preflight;


@tailwind components;
  a{
    text-decoration: none;
  }
  .wrap{
    @apply text-black;
  }
  .lg-btn-primaly{
    @apply font-bold rounded border-4 border-white rounded-full mt-60 px-4 py-8 text-white text-center;
  }
  .sm-btn-primaly{
    @apply font-bold rounded border-4 border-white rounded-full mt-8 px-4 py-8 text-white text-center;
  }
  .lg-btn-border-primaly{
    @apply font-bold rounded border-4 border-primaly rounded-full mt-60 px-4 py-8 text-primaly text-center;
  }
  .sm-btn-border-primaly{
    @apply font-bold rounded border-4 border-primaly rounded-full mt-8 px-4 py-8 text-primaly text-center;
  }
  .item-containter{
    @apply mt-128 mb-64;
  }
  .section-title{
    @apply text-center mb-60;
  }
  .text-link{
    @apply no-underline text-black;
  }
  .text-link:hover{
    @apply text-primaly;
  }
  .footer-section-title{
    @apply text-left mb-8;
  }
  
  
@tailwind utilities;
.body{
  color: #4D5966;
}
nav{
  width: 100%;
}
#navToggle{
  display: block;
  position: fixed;    /* bodyに対しての絶対位置指定 */
  right: 13px;
  top: 12px;
  width: 42px;
  height: 51px;
  cursor: pointer;
  z-index: 3;
  text-align: center;
}
.navToggle-line {
  display: block;
  position: absolute;    /* #navToggleに対して */
  width: 30px;
  border-bottom: solid 3px;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

.navToggle-line:nth-child(1) {
  top: 9px;
}

.navToggle-line:nth-child(2) {
  top: 18px;
}

.navToggle-line:nth-child(3) {
  top: 27px;
}

#navToggle.active span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navToggle.active span:nth-child(2),
#navToggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bg-cover-fv-image {
  background: url('../imgs/640_1366.jpg')no-repeat;
  background-repeat: no-repeat;
  width: 1366px;
  height: 640px;
  object-fit: cover;
}
.fv-title{
  top:2rem;
  right: 0;
  left: 0;
  text-align: center;
}
.fv-catchcopy{
  bottom:4rem;
  right: 0;
  left: 0;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .fv-catchcopy {
    bottom:0.5rem;
  }
}

/* 3点リーダー */
.sm-experiences {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.sm-experiencer-img{
  width: 35%;
  height: 35%;
}
.lg-rightbox {
  -webkit-transform: translate(-100px,0);
  opacity: 0;
}
.lg-leftbox {
  -webkit-transform: translate(100px,0);
  opacity: 0;
}
.sm-box{
  -webkit-transform: translate(0, -100px);
  opacity: 0;
}
.show {
  text-align: right;
  -webkit-transition: all 2s;
  -webkit-transform: translate(0, 0);
  opacity: 1;
}
/* キャンペーンエリア  */
button.slick-next.slick-arrow{
  display: none !important;
}
button.slick-prev.slick-arrow{
  display: none !important;
}
/* 固定ページcss  */
.page{
  font-size: 1.125rem;
}
.page div,.page p{
  line-height: 1.5;
}
.page h3{
  padding:3rem 0 1rem;
  color: #fd84ac;
  font-size: 1.5rem;
}
.page ul{
  padding: 0;
  margin: 1rem 0;
}
.emphasis li{
  list-style: none;
  border-bottom: dotted;
  padding: 0.5rem;
}

